---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import Minimal Mistakes's Sass
@import "minimal-mistakes";

// Import your custom styles
@import "custom";